.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 100;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 4px;
}

.header_search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background: #cd9042;

}

.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 15px;
    font-weight: 800;   
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}